<div class="nav">
  <mat-card *ngIf="userName">
    <div class="navContent">
      <a class="navToggle" (click)=toggle()>
        <mat-icon style="font-size: 40px;">toc</mat-icon>
      </a>
      <div class="navDetails">
        <span class="userName">{{userName}}</span>
        <a [matMenuTriggerFor]="menu">
          <mat-icon class="user">account_circle</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logOut()">Log Out</button>
        </mat-menu>
        <button mat-raised-button class="env">PROD</button>
      </div>
    </div>
  </mat-card>
</div>
