.monitor {
  height: 700px;
}

.pie {
  display: block;
}

.bar {
  display: block;
}

textarea {
  display: block;
  margin: 4px 0 8px;
}

.play {
  color: green;
}

.pause {
  color: #663399;
}

.stop {
  color: red;
}

.monitor {
  color: #663399;
}

.delete {
  color: #663399;
}

.pollName {
  text-align: center;
}
