<div class="monitor">
  <h2>Monitor Polls</h2>
  <div>
    <mat-card>
      <mat-form-field>
        <mat-label>Search poll</mat-label>
        <input matInput type="text" [(ngModel)]=value>
      </mat-form-field>
      <button *ngIf=value matSuffix mat-icon-button aria-label="Clear" (click)=search()>
        <mat-icon>search</mat-icon>
      </button>
      <label>Click to copy</label>
      <button mat-button [cdkCopyToClipboard]="votingLink"><mat-icon>filter_none</mat-icon></button>
      <div class="pie" *ngIf="chartDatasets">
        <canvas mdbChart [chartType]=chartType [datasets]=chartDatasets [labels]=chartLabels [colors]=chartColors
          [options]=chartOptions [legend]=true (chartHover)=chartHovered($event) (chartClick)=chartClicked($event)
          height="100">
        </canvas>
      </div>
      <div class="bar" *ngIf="chartDatasets">
        <canvas mdbChart [chartType]=chartTypeBar [datasets]=chartDatasets [labels]=chartLabels [colors]=chartColors
          [options]=chartOptions [legend]=true (chartHover)=chartHovered($event) (chartClick)=chartClicked($event)
          height="100">
        </canvas>
      </div>
    </mat-card>
  </div>
</div>
