.monitor {
  height: 700px;
}

.pie {
  display: block;
  height: 400px;
  width: 400px;
}

.bar {
  display: block;
  height: 400px;
  width: 400px;
}

textarea {
  display: block;
  margin: 4px 0 8px;
}

.play {
  color: green;
}

.pause {
  color: #663399;
}

.stop {
  color: red;
}

.monitor {
  color: #663399;
}

.delete {
  color: #663399;
}

.pollName {
  text-align: center;
}

.monitorHeading {
  text-align: center;
}

.monitorActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 200px;
  max-width: 250px;
}

.thumbUp {
  color: green;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.monitorContent {
  height: 400px;
}

.clipboard {
  margin-left: 10px;
}
