<div class="createPoll">
  <h1 *ngIf="!submitted">Create A Poll</h1>
  <h3 *ngIf="!submitted">Fill out poll details</h3>
  <mat-card *ngIf="!submitted">
    <mat-horizontal-stepper [linear]=isLinear #stepper>
      <mat-step [stepControl]=pollCreateForm>
        <form [formGroup]=pollCreateForm>
          <ng-template matStepLabel>Basic Details</ng-template>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" required>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]=pollCreateForm>
        <form [formGroup]=pollCreateForm>
          <ng-template matStepLabel>Metrics</ng-template>
          <div formArrayName="candidates">
            Candidates
            <div *ngFor='let candidate of candidates().controls;let i=index' [formGroupName]=i>
              <mat-form-field>
                <input matInput placeholder="Candidate" formControlName="candidate" required>
              </mat-form-field>
              <a (click)=removeCandidate(i)>
                <mat-icon>remove</mat-icon>
              </a>
            </div>
          </div>
          <a (click)=addCandidate()>
            <mat-icon>add</mat-icon>
          </a>
          <br />
          <br />
          <mat-form-field>
            <mat-label>Duration</mat-label>
            <mat-date-range-input [formGroup]=pollCreateForm [rangePicker]=campaignOnePicker
              [comparisonStart]=pollCreateForm.value.start [comparisonEnd]=pollCreateForm.value.end>
              <input matStartDate placeholder="Start date" formControlName="start">
              <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]=campaignOnePicker></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
          </mat-form-field>
          <br />
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Submit</ng-template>
        <p>Summary</p>
        <mat-list>
          <mat-list-item> <strong>Name:</strong> {{ this.pollCreateForm.value.name }}</mat-list-item>
          <mat-list-item> <strong>Description:</strong> {{ this.pollCreateForm.value.description }}</mat-list-item>
          <mat-list-item>
            <strong>Candidates:</strong>
            <div *ngFor="let candidate of this.pollCreateForm.value.candidates">
              {{ candidate.candidate }},&nbsp;
            </div>
          </mat-list-item>
          <mat-list-item> <strong>Poll Duration:</strong> {{ this.pollCreateForm.value.start }} - {{
            this.pollCreateForm.value.end }}</mat-list-item>
        </mat-list>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)=stepper.reset()>Reset</button>
          <button mat-button (click)=submit()>Submit</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </mat-card>
  <div *ngIf="submitted" class="successMessage">
    <h2>Success!!. Click <button mat-raised-button class="navButton" (click)="navigateToMonitor()">view polls</button> to monitor poll</h2>
  </div>

</div>
