.home {
  height: 700px;
}

.homeAction {
  display: flex;
  justify-content: space-between;
}

.homeViewPoll{
  margin-left: 20px;
  color: white;
  background-color: #663399;
}

.homeCreatePoll{
  color: white;
  background-color: #663399;
}

table {
  width: 100%;
}

.play {
  color: green;
}

.pause {
  color: #663399;
}

.stop {
  color: red;
}

.monitor {
  color: #663399;
}

.delete {
  color: #663399;
}

.thumbUp {
  color: green;
}

.noPolls {
font-size: medium;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.image {
  width: 500px;
  height: 600px;
  align-items: center;
}
