<div class="home">
  <mat-card>
    <div class="homeAction">
      <div>
        <mat-card-title>Welcome {{userName}} !!</mat-card-title>
        <mat-card-subtitle>Recent Polls</mat-card-subtitle>
      </div>
      <div>
        <a routerLink="/create">
          <button mat-raised-button matTooltip="click to create poll" class="homeCreatePoll">New Poll</button>
        </a>
      </div>
    </div>
  </mat-card>
  <div *ngIf="polls.length === 0">Oops looks like we have no polls created yet. Let's create some!</div>
  <table *ngIf="polls && polls.length > 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.pollId}} </td>
    </ng-container> -->

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.pollName}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.pollDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{convertToDate(element.startDate)}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> End Date </th>
      <td mat-cell *matCellDef="let element"> {{convertToDate(element.endDate)}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.pollStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="arrow">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <ng-container>
          <button mat-raised-button matTooltip="click to pause poll" class="play"
            *ngIf="(row.pollStatus === 'PENDING' || 'PAUSED') && row.pollStatus !== 'IN PROGRESS'"
            (click)="initiatePoll(row)">
            <mat-icon>play_arrow</mat-icon>
          </button>
          <button mat-raised-button class="pause" *ngIf="row.pollStatus === 'IN PROGRESS'" (click)="pausePoll(row)">
            <mat-icon>pause</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="stop">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <ng-container>
          <button mat-raised-button matTooltip="click to end poll" class="stop"
            [disabled]="row.pollStatus === 'PENDING' || row.pollStatus === 'FINISHED'" (click)="endPoll(row)">
            <mat-icon>stop</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="monitor">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <ng-container>
          <button mat-raised-button matTooltip="click to view poll progress" class="monitor" (click)="monitorPoll(row)">
            <mat-icon> call_made</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <ng-container>
          <button mat-raised-button matTooltip="click to delete poll" class="delete" (click)="deletePoll(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="spinner">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <ng-container>
          <mat-spinner *ngIf="row?.pollStatus === 'IN PROGRESS'" diameter="30"></mat-spinner>
          <mat-icon *ngIf="row.pollStatus === 'FINISHED'" class="thumbUp">thumb_up</mat-icon>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </tr>
  </table>

</div>
