.home {
  height: 700px;
}

.homeAction {
  display: flex;
  justify-content: space-between;
}

.homeViewPoll{
  margin-left: 20px;
  color: white;
  background-color: #663399;
}

.homeCreatePoll{
  color: white;
  background-color: #663399;
}

table {
  width: 100%;
}

.play {
  color: green;
}

.pause {
  color: #663399;
}

.stop {
  color: red;
}

.monitor {
  color: #663399;
}

.delete {
  color: #663399;
}
