.signUp {
  height: 600px;
  display: flex;
  justify-content: center;
  text-align: center;
}

::ng-deep .signUpContent {
  width: 400px;
  height: 400px;
}

.signUpDetails {
  width: 100px;
}

.button {
  color: white;
  background-color: #663399;
}
