<div class="poll">
  <div class="pollOption">
    <div *ngFor="let candidate of candidates">
      <mat-card class="pollMatCard">
        <mat-card-header>
          <mat-card-title>{{candidate}}</mat-card-title>
        </mat-card-header>
        <img class="pollOptionImage" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button mat-button>Select</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="pollSubmitButton">
    <button mat-raised-button class="submitButton">Vote</button>
  </div>
</div>
