<div class="poll">
  <h2 *ngIf="pausedPoll">Poll is paused</h2>
  <h2 *ngIf="stoppedPoll">Poll Ended!!</h2>
  <div *ngIf="!voteCasted && !stoppedPoll">
    <div class="pollOption" *ngIf="candidates" >
      <div *ngFor="let candidate of candidates">
        <mat-card class="pollMatCard">
          <mat-card-header>
            <mat-card-title>{{candidate.candidateName}}</mat-card-title>
          </mat-card-header>
          <!-- <img class="pollOptionImage" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
          <mat-card-actions>
            <button mat-button (click)="select(candidate)">Select</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="pollSubmitButton">
      <button mat-raised-button [disabled]="pausedPoll || !selectionMade" class="submitButton" (click)="vote()">Vote</button>
    </div>
  </div>
  <div *ngIf="voteCasted" class="response">
    Your response has been submitted!
  </div>
</div>
