<div class="sideNav">
  <div class="sideNavLogo">
    <a href="/">
      <mat-icon style="font-size: 30px;">extension</mat-icon>
    </a>
    <a href="/" style="font-size: 25px">Kritz</a>
  </div>
  <ul>
    <li><a routerLink="/home">
        <mat-card>
          <mat-icon>home</mat-icon>&nbsp;
          <mat-card-title>Home</mat-card-title>
        </mat-card>
      </a></li>
    <li>
      <a routerLink="/create">
        <mat-card>
          <mat-icon>add</mat-icon>&nbsp;
          <mat-card-title>Create</mat-card-title>
        </mat-card>
      </a>
    </li>
    <li>
      <a routerLink="/monitor">
        <mat-card>
          <mat-icon>view_module</mat-icon>&nbsp;
          <mat-card-title>Monitor</mat-card-title>
        </mat-card>
      </a>
    </li>
  </ul>
</div>
